@font-face {
  font-family: "Belligerent-Madness";
  src: url("../fonts/belligerent.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f3e9f1 !important;
  font-family: "Belligerent-Madness" !important;
}

header {
  text-align: center;
  padding-top: 20px;
}

header div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

header img {
  width: 85px;
  height: 71px;
  margin: auto 10px auto 10px;
}

header h1 {
  font-size: 50px;
  margin: auto 10px auto 10px;
}

header nav {
  float: right;
  margin: 10px 10px 0 0;
}

header p {
  font-size: 30px;
  padding: 15px;
  margin-bottom: 10px;
  margin: 10px 64px;
  margin-bottom: 10px;
  border-style: double;
  border-radius: 70px;
  border-color: #ab659d;
  margin-top: 1rem;
}

footer {
  border-top: double #ab659d;
  margin: 20px 0 20px 0;
  text-align: center;
}

footer ul {
  margin: 20px;
  padding: 20px;
  list-style: none;
}

footer i {
  color: cornflowerblue;
  padding-bottom: 20px;
}

#listeOursons {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

#listeOursons .conteneur {
  width: 80%;
  margin: 10px 10px;
  border-style: double;
  border-radius: 70px;
  border-color: #ab659d;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

#listeOursons .conteneur img {
  width: 75%;
  border-radius: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  -webkit-box-shadow: 5px 5px 5px #945ef0;
          box-shadow: 5px 5px 5px #945ef0;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

#listeOursons .conteneur img:hover {
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
}

#listeOursons .conteneur a {
  text-decoration: none;
  background: #e68a08;
  background-size: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#e68a08), to(#935df3));
  background-image: linear-gradient(to right, #e68a08, #935df3);
  border-radius: 1.5em;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: 15px;
  border-style: none;
  font-weight: bold;
  letter-spacing: 0.05em;
}

#listeOursons .conteneur a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#listeOursons .conteneur a:hover:before {
  opacity: 1;
}

@media only screen and (max-width: 990px) {
  #listeOursons {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 800px) {
  #listeOursons {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 563px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav {
    float: none;
  }
}

.MonOurson {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-style: double;
  border-radius: 70px;
  border-color: #ab659d;
}

.MonOurson img {
  width: 70%;
  border-radius: 70px;
  margin: 10px;
}

.MonOurson div {
  margin: auto 10px auto 10px;
}

.MonOurson .ESP {
  display: none;
}

.MonOurson .infosProduit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.MonOurson p {
  margin-bottom: 20px;
}

.MonOurson select {
  margin: 0px 20px 20px 20px;
}

.MonOurson a {
  text-decoration: none;
  background: #e68a08;
  background-size: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#e68a08), to(#935df3));
  background-image: linear-gradient(to right, #e68a08, #935df3);
  border-radius: 1.5em;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: 15px;
  border-style: none;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin: 0px 20px 20px 0px;
}

.MonOurson a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.MonOurson a:hover:before {
  opacity: 1;
}

@media only screen and (max-width: 900px) {
  .MonOurson {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#listePanier,
#count {
  margin-left: auto;
  margin-right: auto;
  text-align: -webkit-center;
}

#listePanier tr td,
#count tr td {
  border: double #ab659d;
  padding: 20px !important;
}

#listePanier tr button,
#count tr button {
  text-decoration: none;
  background: #e68a08;
  background-size: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#e68a08), to(#935df3));
  background-image: linear-gradient(to right, #e68a08, #935df3);
  border-radius: 1.5em;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: 15px;
  border-style: none;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin: 5px;
}

#listePanier tr button:hover,
#count tr button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#listePanier tr button:hover:before,
#count tr button:hover:before {
  opacity: 1;
}

form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

form label {
  display: inline-block;
  width: 90px;
  text-align: left;
}

form li {
  list-style: none;
}

form input,
form textarea {
  font: 1em sans-serif;
  width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #999;
}

form input:focus,
form textarea:focus {
  border-color: #000;
}

form textarea {
  vertical-align: top;
  height: 5em;
}

form .button {
  margin-top: 15px;
  text-align: center;
}

form button {
  text-decoration: none;
  background: #e68a08;
  background-size: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#e68a08), to(#935df3));
  background-image: linear-gradient(to right, #e68a08, #935df3);
  border-radius: 1.5em;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: 15px;
  border-style: none;
  font-weight: bold;
  letter-spacing: 0.05em;
}

form button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

form button:hover:before {
  opacity: 1;
}

form div + div {
  margin-top: 1em;
}

h2,
h3 {
  text-align: center;
}

.order {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.order ul {
  padding: 20px;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  border: double  #ab659d;
  border-radius: 15px;
}

@media only screen and (max-width: 900px) {
  .order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .order ul {
    border-radius: 10px;
  }
}
/*# sourceMappingURL=style.css.map */